# Dart/Pub
.dart_tool/
.packages

# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# Android
android/.gradle/
android/build/

windows/
web/
macos/
linux/
test/



# VS Code / IntelliJ / Xcode
.vscode/
.idea/
*.iml
.DS_Store

# Secrets
*.env
local.properties